<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="editTaskModalLabel">
                    {{modalTitle}}
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="startDateContainer" class="modalContainerRow col-md-4 canEdit">
                        <label for="startDate">
                            <p class="inputSectionTitle">Start Date:</p>
                        </label>
                        <input class="form-control" type="text" datepicker="datepicker" data-ng-model="selectedStartDate" id="startDate" />
                    </div>
                    <div id="dueDateContainer" class="modalContainerRow col-md-4 canEdit">
                        <label for="dueDate">
                            <p class="inputSectionTitle">Due Date:</p>
                        </label>
                        <input class="form-control" type="text" datepicker="datepicker" data-ng-model="selectedDueDate" id="dueDate" />
                    </div>
                </div>
                <div class="row">
                    <div id="selectTitle" class="modalContainerRow input-field col-md-6 canEdit">
                        <label for="tasktitle">
                            <p class="inputSectionTitle">Task Title: <i class="requiredFlag">*</i></p>
                        </label>
                        <input type="text" class="form-control" id="tasktitle" placeholder="Enter Task Title" data-ng-model="selectedTaskTitle" />
                    </div>
                    <div id="selectAssignedBy" class="modalContainerRow input-field col-lg-6 col-md-12">
                        <label for="AssignedByDiv">
                            <p class="inputSectionTitle">Assigned By : <i class="requiredFlag">*</i></p>
                        </label>
                        <div id="AssignedByDiv" spclientpeoplepicker="true"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="selectStatusNotes" class="modalContainerRow input-field col-md-12">
                        <label for="taskStatusNotes">
                            <p class="inputSectionTitle">Status Notes: </p>
                        </label>
                        <textarea rows="3" cols="200" class="form-control" id="taskStatusNotes" placeholder="Use this field to provide updates" data-ng-model="selectedTaskStatusNotes"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div id="selectPriority" class="modalContainerRow input-field col-md-4 canEdit">
                        <label for="taskpriority">
                            <p class="inputSectionTitle">Priority: </p>
                        </label>
                        <select class="form-control selectpicker" id="taskpriority" data-ng-model="selectedTaskPriority">
                            <option data-ng-repeat="taskpriority in taskpriorities" value="{{taskpriority}}">{{taskpriority}}</option>
                        </select>
                    </div>
                    <div id="selectRole" class="modalContainerRow input-field col-md-4 canEdit">
                        <label for="taskrole">
                            <p class="inputSectionTitle">Role: </p>
                        </label>
                        <select class="form-control selectpicker" id="taskrole" data-ng-model="selectedTaskRole">
                            <option data-ng-repeat="taskrole in taskroles" value="{{taskrole}}">{{taskrole}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="modalContainerRow col-sm-12">
                        <label for="AssignedToDiv">
                            <p class="inputSectionTitle">Assigned To: </p>
                        </label>
                        <div id="AssignedToDiv" spclientpeoplepicker="true"></div>
                    </div>
                    <div class="modalContainerRow col-sm-12">
                        <label for="SecondaryAssigneeDiv">
                            <p class="inputSectionTitle">Secondary Assignee :</p>
                        </label>
                        <div id="SecondaryAssigneeDiv" spclientpeoplepicker="true"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="selectPercentComplete" class="modalContainerRow input-field col-md-4">
                        <label for="tasktitle">
                            <p class="inputSectionTitle">Percent Complete: </p>
                        </label>
                        <input type="number" min="0" max="100" class="form-control" id="taskpercentcomplete" placeholder="0 - 100" data-ng-model="selectedPercentComplete" />
                    </div>
                    <div id="selectStatus" class="modalContainerRow input-field col-md-4">
                        <label for="taskstatus">
                            <p class="inputSectionTitle">Status: </p>
                        </label>
                        <select class="form-control selectpicker" id="taskstatus" data-ng-model="selectedTaskStatus">
                            <option data-ng-repeat="taskstatus in taskstatuses" value="{{taskstatus}}">{{taskstatus}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div id="selectFollowUpTask" class="modalContainerRow input-field col-md-12 canEdit">
                        <label for="taskFollowUpTask">
                            <p class="inputSectionTitle">Follow Up Action: </p>
                        </label>
                        <textarea rows="3" cols="200" class="form-control" id="taskFollowUpTask" placeholder="Enter Follow Up Action" data-ng-model="selectedTaskFollowUpTask"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-ng-hide="update" id="uploadBtn" data-ng-click="UpdateTask(taskedit)">
                        Save
                    </button>
                    <button type="button" id="cancelBtn" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>